/* Common */

* {
  margin: 0;
}

.tb {
  display: table;
}

.tm {
  display: table-cell;
  vertical-align: middle;
}

.tc {
  text-align: center;
}

body {
  font-family: "Open Sans";
  background-color: #E9E9E9;
}

.middle {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


/* Header */

#header {
  background-color: #FFFFFF;
  height: 60px;
  box-shadow: 1px 0px 1px 1px #CCCCCC;
}

#logo {
  height: 100%;
  float: left;
  width: 10%;
}

#search {
  height: 100%;
  float: left;
  width: 60%;
}

#s_content {
  padding-left: 210px;
}

#s_field {
  background:#DDDDDD;
  width: 216px;
  height: 32px;
  border: 0;
  margin-right: 0;
}

#s_button {
  background:#40C3DB;
  width: 80px;
  height: 32px;
  border: 0;
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: -4px;
}

#d_menu {
  height: 100%;
  float: left;
  width: 30%;
}

#menu {
  margin-left: -34px;
  font-size: 15px;
}

#menu li {
  list-style-type: none;
  float: left;
}

#menu li:hover {
  background-color: #40C3DB;
}

#menu li a {
  color: #000000;
  font-weight: bold;
  display: block;
  padding: 20px 7px;
  text-decoration: none;
}

#menu li a:hover {
  color: #FFFFFF;
}


/* Slider */

#slider {
  overflow: hidden;
}

#s_left {
  display: table;
  text-align: center;
  width: 10%;
  float: left;
  height: 100%;
}

#s_right {
  display: table;
  text-align: center;
  width: 10%;
  float: right;
  height: 100%;
}

#s_middle {
  width: 80%;
  height: 100%;
  float: left;
}

#left_image {
  width: 50%;
  height: 100%;
  float: left;
}

#right_image {
  width: 50%;
  height: 100%;
  float: left;
}

#top_image {
  height: 46%;
}

#bottom_image {
  height: 54%;
}


/* Main */

#products {
  height: 100%;
  margin-top: 20px;
}

#news {
  height: 100%;
}

.title {
  font-size: 20px;
}

.decorator {
  display: inline-block;
  background-color: #4D4D4D;
  width: 55px;
  height: 10px;
  margin-top: 4px;
  margin-bottom: 24px;
}


#main {
  width: 312px;
  border: 0;
  background-color: #FFFFFF;
  padding-top: 2px;
  display: inline-block;
  margin-right: 22px;
}

#picture {
  margin: 0 auto;
  margin-top: 10px;
}

#info {
  width: 290px;
  height: 50px;
  margin: 10px 10px;
  overflow: hidden;
  font-weight: bold;
}

#about {
  width: 150px;
  height: 100%;
  float: left;
  text-align: left;
}

#desc {
  color: #BBBBBB;
  font-size: 12px;
}

#price {
  width: 100px;
  height: 100%;
  float: right;
  text-align: right;
}

#monetary {
  font-size: 12px;
}

#value {
  color: #7E9977;
}